* {
	padding: 0;
	margin: 0;
	outline: 0;
}

html,
body {
	height: 100%;
	font-size: 14px;
}

#bg {
	position: absolute;
	min-height: 100%;
	width: 100%;
	background: black;
	z-index: 1;
}

#bgvid {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: 2;
  transform: translateX(-50%) translateY(-50%);
	background: url('/images/BAA.jpg') no-repeat;
	background-size: cover;
	transition: 1s opacity;
	opacity: 0.5;
}

#intro{
	display: block;
	text-align: center;
	font-family: sans-serif;
	color: white;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translateY(-50%) translateX(-50%);
	-webkit-transform: translateY(-50%) translateX(-50%);
	z-index: 1;
}

#intro p{
	width: 100%;
	text-align: center;
	padding: 30px 0;
	margin: 0 auto;
	font-size: 1.2em;
}

#intro button{
	display: block;
	font-size: 1.5em;
	background: transparent;
	border: 2px solid white;
	color: white;
	padding: 15px;
	border-radius: 5px;
	cursor: pointer;
	margin: 100px auto 30px;
}

#schedule{
	position: relative;
	top: 100%;
	min-height: 800px;
	color: white;
	background: red;
	padding: 40px;
}
