* {
	padding: 0;
	margin: 0;
	outline: 0;
}

html,
body {
	height: 100%;
	font-size: 14px;
	font-family: Ubuntu, sans-serif;
}

#bg {
	position: absolute;
	min-height: 100%;
	width: 100%;
	background: #19001a;
	z-index: 1;
	overflow: hidden;
}

#bgvid {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: 2;
  transform: translateX(-50%) translateY(-50%);
	background: url('/images/BAA.jpg') no-repeat;
	background-size: cover;
	transition: 1s opacity;
	opacity: 0.3;
	overflow: hidden;
}

#intro{
	display: block;
	text-align: center;
	color: white;
	position: absolute;
	top: 50%;
	left: 50%;
	width: 80%;
	margin: auto;
	transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	z-index: 1;
}

#intro img{
	padding: 30px 0 0;
}

#intro p{
	width: 100%;
	text-align: center;
	padding: 50px 0;
	margin: 0 auto;
	font-size: 2em;
	font-weight: 300;
	color: rgba(243, 122, 82, 1.0);
}

#intro button{
	display: block;
	font-size: 1.5em;
	background: transparent;
	border: 2px solid rgba(246, 149, 83, 1.0);
	color: rgba(246, 149, 83, 1.0);
	padding: 15px;
	border-radius: 5px;
	cursor: pointer;
	margin: 0px auto 30px;
	font-family: Ubuntu, sans-serif;
	font-weight: 300;
}

#schedule{
	position: relative;
	top: 100%;
	min-height: 800px;
	color: white;
	background: red;
	padding: 40px;
}
