{% extends './layouts/default.html' %}

{% block title %}Makers & Shakers 2015{% endblock %}

{% block content %}

<div id="bg">
  <video autoplay poster="/images/BAA.jpg" id="bgvid" loop>
    <!-- WCAG general accessibility recommendation is that media such as background video play through only once. Loop turned on for the purposes of illustration; if removed, the end of the video will fade in the same way created by pressing the "Pause" button  -->
    <source src="/images/shakers.webm" type="video/webm">
    <source src="/images/shakers.mp4" type="video/mp4">
  </video>
</div>

<div id="intro">

  <img src="images/makers-shakers-2015.svg" width="60%" alt="Makers & Shakers">

  <p>Spotlighting exciting projects and ideas taking shape around us.</p>
  <button>MAKE IT, SHAKE IT!</button>

</div>

<div id="schedule">

  <h2>Schedule</h2>

  <day>
    <date>Friday, June 5th</date>
    <event>Kick-Off Party - <location>Leaven</location> - <time>7pm</time></event>
    <event>TBD (Short Film Night?)</event>
  </day>

  <day>
    <date>Saturday, June 6th</date>
    <event>3D Print Lessons - <location>Berwick Public Library</location> - <time>10am</time></event>
    <event>Downtown Tours - <time>2pm</time></event>
    <event>Summit Doors Open - <location>Canal St. Mills</location> - <time>4pm</time></event>
    <event>Summit Starts - </time>5pm</time></event>
    <event>After Party</event>
  </day>

</div>

{% endblock %}
