{% extends './layouts/default.html' %}

{% block title %}Makers & Shakers 2015{% endblock %}

{% block content %}

<div id="bg">
  <video autoplay id="bgvid" loop>
    <source src="/images/shakers.webm" type="video/webm">
    <source src="/images/shakers.mp4" type="video/mp4">
  </video>
</div>

<div id="intro">

  <img src="/images/makers-shakers-2015.svg" alt="Makers & Shakers">

  <tagline>Spotlighting exciting projects &amp; ideas taking shape around us</tagline>
  <location>Canal St. Mills, Somersworth, NH</location>
  <date>Saturday, June 6th, 2015</date>

  <a href="http://ms2015.bpt.me/" class="button">MAKE IT, SHAKE IT!</a>

</div>

<div id="content">

  <div id="speakers">

    <h2>Speakers</h2>

    <speaker>
      <img src="/images/speakers/Ariele_Sielin.jpg">
      <name>Ariele Sielin</name>
    </speaker>

    <speaker>
      <img src="/images/speakers/Devin_Powell.jpg">
      <name>Devin Powell</name>
    </speaker>

    <speaker>
      <img src="/images/speakers/Larry_Clow.jpg">
      <name>Larry Clow</name>
    </speaker>

    <speaker>
      <img src="/images/speakers/Maddie.jpg">
      <name>Maddie</name>
    </speaker>

    <speaker>
      <img src="/images/speakers/Matt_Lebel.jpg">
      <name>Matt Lebel</name>
    </speaker>

    <speaker>
      <img src="/images/speakers/Melissa_Saggerer.jpg">
      <name>Melissa Saggerer</name>
    </speaker>

    <speaker>
      <img src="/images/speakers/Minta_Carlson.jpg">
      <name>Minta Carlson</name>
    </speaker>

    <speaker>
      <img src="/images/speakers/Sarah_Garstka.jpg">
      <name>Sarah Garstka</name>
    </speaker>

    <speaker>
      <img src="/images/speakers/Teagan_Legrmann.jpg">
      <name>Teagan Legrmann</name>
    </speaker>

  </div>

  <div id="schedule" class="content">

    <h2>Schedule</h2>

    <day>
      <date>Friday, June 5th</date>
      <event>Kick-Off Party - <location>@Leaven</location> - <time>7pm</time></event>
      <event>TBD (Short Film Night?)</event>
    </day>

    <day>
      <date>Saturday, June 6th</date>
      <event>3D Print Lessons - <location>@Berwick Public Library</location> - <time>10am</time></event>
      <event>Downtown Tours - <time>2pm</time></event>
      <event>Summit Doors Open - <location>@Canal St. Mills</location> - <time>4pm</time></event>
      <event>Summit Starts - </time>5pm</time></event>
      <event>After Party</event>
    </day>

  </div>

  <div id="misc" class="content">

    <h3>Contact</h3>
    <a href="email://makersandshakers@gmail.com">makersandshakers@gmail.com</a>
    <a href="https://twitter.com/search?q=%23makeitshakeit&src=typd">#MakeItShakeIt</a>

    <h3>Parking</h3>
    <a href="/images/parking.jpg">Parking Map</a>

    <h3>Press</h3>
    <a href="http://millyardcommunications.com/index.php?src=news&srctype=detail&category=News&refno=4119">Business NH Magazine</a>
    <a href="http://www.fosters.com/apps/pbcs.dll/article?AID=/20130619/GJBUSINESS_01/130619139/0/SEARCH">Fosters Daily</a>

  </div>

  <div id="footer" class="content">

    <a href="http://ms2015.bpt.me/" class="button">Register for Free!</a>

  </div>

</div>
{% endblock %}
